/deep/  .modal-body{
    padding: 0rem !important;
}
/deep/ .modal-content{
    background-color: #00142C;
    color: white;
    border-radius: 20px!important;
}
/deep/ .modal-title{
    margin: auto;
    font-size: 30px;
    font-weight: bold;

}
/deep/ .modal-header .close{
    margin: 0;
}
.form-control,.form-control:disabled{
    border:none;
    background-color: inherit;
    color: white;
    border-bottom: solid 1px #393e46;
}
.outer {
    margin: auto;
    position: relative;
}

.inner {
    position: absolute;
    top: 68px;
    cursor:pointer;
    left: 100px;
}
